In [47]:
#(20180619) Python1_2
#\n 줄바꿈  \t 탭
x="te\n\nst"
print(x)
x="test\t\ttest"
print(x)

te

st
test		test

In [48]:
#assignment 수식이 처리된 결과를 담는 일
x=3
x=3.9*x*(1-x)
#<variable>=<expression>
print(x)
x,y= 3,4

-23.4

In [49]:
#쉬운 프로그래밍방식!
sums,diff= x+y, x-y
#두줄로 써도되는데 왼쪽에는 변수를, 오른쪽에 식들을 쓰면 알아서 쏙 들어간다.
#simultaneous assignment 동시에 변수할당 좋다!

x,y = y,x 
#이런것도 가능하다 
#일반 프로그래밍 언어에서는 temp를 만들고 복잡하게 할당해야한다.
#피이썬이 편하긴 하다.

x,y= 3,4
print(x,y)
x,y=y,x
print(x,y)

3 4
4 3

In [50]:
#Loop statement
#Definite Loops 끝나는 시점이 있는 루프이다.
range(10)#range(0,10)이 결과로 나오는 이유는 range라는 데이터타입을 만들어놓은것이다.

for i in [0,1,2,3]: #list안에있는 0,1,2,3 프린트하는 for loop
    print(i)

for odd in [1,3,5,7]: #list안에있는 1,3,5,7 프린트하는 for loop
    print(odd*odd)

0
1
2
3
1
9
25
49

In [51]:
list(range(10)) #10이 range의 parameter(인자)이고, list는 내용물을 보여준다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list({2,3}) #리스트안에 들어가는 파라미터, {2,3}에 독립값 들어가는 거 안받아줌, 집합을 집어넣거나 
#여러개있는 스타일의 데이터타입 집어넣어줘야한다

#range도 데이터 타입이다.
#0,10이면 0부터 9까지 10개를 다룬다.

[2, 3]

In [53]:
answer=[] #answer는 빈리스트 empty list 
#set은 {}
#tuple은 ()
#dictionary도 있다

for i in range(1,10):
    answer.append(str(i)) #str()은 string으로 변환 built-in func.
    #append() 함수는 데이터타입에 . 을 찍고 이 함수를 부르면 된다
answer

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [54]:
str(3) #숫자인데 문자형으로 반환.

'3'

In [55]:
#정수와 실수 데이터 타입
#int & float
type(3),type(3.1)

(int, float)

In [56]:
#basic data type : int, float, boolean, char. stromg, 
#advanced data type : list, set, tuple, dictionary
#user-defined data type : student 같이 이것저것 만들수가 있다. OOP
#우리가 앞으로 할때는 이런거 만든당? 데이터타입 만들수있게해준거다
#data type과 같은 말이 (class)라고 할수있는거다!

#Type함수
type('3') #''를 치면 숫자도 문자형으로 변환된다.

str

In [57]:
type([3,5,7]), type((1,2,3)), type(range(10)) 
#각각의 타입
#list, tuple, range

(list, tuple, range)

In [58]:
#Numeric data types
10.0/3.0 #실수 나누기

3.3333333333333335

In [59]:
10/3 #정수나누긴데 결과가 똑같다 실수나누기 결과와

3.3333333333333335

In [60]:
#// integer division 작대기 두개짜리 나누기
#소수점 밑체로 무시하고,  결과가 반드시 정수로 나온다.
10//3

3

In [61]:
10.0//3.0 #숫자중 하나라도 실수형이면 실수형으로 나온다.

3.0

In [62]:
#Boolean
True,False

(True, False)

In [63]:
type(True),type(False)

(bool, bool)

In [64]:
#사전순서대로 사전 뒤에나오는게 더 큰거다
"aaa">"abb"

False

In [65]:
#==연산자 : 같으냐? 
a=572
a==573 #False 나온다. 다르다 이거지!

False

In [66]:
1<5<7 #여러개 비교도 가능하다!

True

In [67]:
2>1<7

True

In [68]:
5 > 4 > 3.2 >= 1 == 1 !=8 #복잡한 불린연산 가능

True

In [69]:
number=50
if 0<= number <=100:
    print(number)

50

In [70]:
#Truth Table
a=True
a or true == ture

True

In [71]:
 #괄호안에있는게 무슨 결과에요를 알려주는거죠 비어있는 엠티스러운것들은 죄다 False입니다.
bool(0), bool([]), bool(""), bool(32),bool("Hello"),bool([1,2,3])

(False, False, False, True, True, True)

In [72]:
myString="S N U"
myString.split()

['S', 'N', 'U']

In [73]:
#factorial.py
#program to compute the factorial of a number
#illustrates for loop with an accumulator
def main():
    n=eval(input("Please enter a whole number: "))
    fact=1
    for factor in range(n,1,-1):
        fact=fact*factor
    print("The factorial of", n,"is",fact)

In [74]:
main()

Please enter a whole number: 20
The factorial of 20 is 2432902008176640000

In [75]:
#Type conversion, Type casting
float(22//5), float(3),float(3.3),str(8)

(4.0, 3.0, 3.3, '8')

In [76]:
#반올림
round(3.9),round(3.3)

(4, 3)

In [77]:
#의미없는 0은 다 지워진다
32/32,3/2,100.00000000000000,100,3/2.0,3/2, float(5)/4,5/4,32//32

(1.0, 1.5, 100.0, 100, 1.5, 1.5, 1.25, 1.25, 1)

In [78]:
#몫과 나머지중에 나머지를 리턴하는 % 함수. modulo 함수
5%4,11%4

(1, 3)

In [79]:
#자승, 제곱 연산자 **
12**2,16**0.5,24**0.5

(144, 4.0, 4.898979485566356)

In [80]:
#문자열
greet="Hello Bob"
#문자열 주소찾아서 반환해주기
print(greet[0],greet[2],greet[4]) #0번째, 2번째, 4번째 프린트
x=8
print(greet[x-2]) #6번째 프린트
greet[-1],greet[-3] # 마지막 것, 끝에서 세번째 것 리턴

H l o
B

('b', 'B')

In [81]:
#substring 접근하기!
greet[0:3],greet[5:9] #0,1,2 위치만 뽑고/ 5,6,7,8까지위치를 뽑아준다.

('Hel', ' Bob')

In [82]:
greet[:5],greet[0:-3],greet[:-1],greet[5:]

('Hello', 'Hello ', 'Hello Bo', ' Bob')

In [83]:
greet[:] #전체다

'Hello Bob'

In [84]:
#concatenation
#문자열간의 +는 붙임 연산자
"a"+"B"

'aB'

In [85]:
#Repetition
#문자열 곱하기는 반복하는것 
"a"*3

'aaa'

In [86]:
#Length 길이함수
len("a"*3),len("asdfjkasndfkjandkfjnaksdjfnakjsdfnk"),len("yohohoho"),len(list([12,3,4,5,6,1,2,33,13,3]))

(3, 35, 8, 10)

In [87]:
def main(): #Main으로 하면 안된다.
    #get user's first and last names
    first = input("Plsease enter your first name(all lowercase): ")
    last = input("Plsease enter your last name(all lowercase): ")

    #concatenate first initial with 7 chars of last name
    print("your_name =", first[0] + ". "+last[:7])
    
#이름은 john, 성은 doe

In [88]:
main()

Plsease enter your first name(all lowercase): john
Plsease enter your last name(all lowercase): doe
your_name = j. doe

In [89]:
a="Hello string methods!"

In [90]:
a.split()#이건 스트링에 붙어있는 소속이기때문에 스트링 뒤에 반드시 써야한다. .찍고!

['Hello', 'string', 'methods!']

In [91]:
"Hello string methods!".split()

['Hello', 'string', 'methods!']

In [92]:
'32,24,25,57'.split(",")#콤마를 기준으로 다 잘라줘

['32', '24', '25', '57']

In [93]:
"abcPefpghi".split("P") #대문자 P를 기준으로 잘라줘

['abc', 'efpghi']

In [94]:
list("CMU") 
#글자 하나하나를 잘라서 리스트로 만들어준다,리스트는 빌트인 펑션이라 그냥써도된다.

['C', 'M', 'U']

In [95]:

x='ham'
x='hamsandwich'
y=x+"book"
y

'hamsandwichbook'

In [96]:
y=x+" book"
y

'hamsandwich book'

In [97]:
x="hamsandwich"
z=10
y=x+z #오류 난다

TypeError: must be str, not int

In [98]:
y=x+str(z)
y

'hamsandwich10'

In [99]:
#string을 formating 하는 방법
y='something %d'%z #d: digits 숫자가 들어올거야
y

'something 10'

In [100]:
y='something %f'%z #실수 받아올거야!
y

'something 10.000000'

In [101]:
y='something %.3f'%z #소수점 자리 정해주기
y

'something 10.000'

In [102]:
z=1.654654652342
y='something %.3f'%z 
y

'something 1.655'

In [103]:
"ham" in "hamsandwich", 'a' in 'ham'

(True, True)

In [104]:
x=[]
x

[]

In [105]:
x=["ham",4,2.2]
x

['ham', 4, 2.2]

In [106]:
x.append(5)
x

['ham', 4, 2.2, 5]

In [107]:
x.insert(1,3.1415) #x[1]에 3.1415집어넣기
x

['ham', 3.1415, 4, 2.2, 5]

In [108]:
x.pop(1) #x[1]을 뜯어내는거다

3.1415

In [109]:
x#1 없어졌다

['ham', 4, 2.2, 5]

In [110]:
len("words"),len(x)

(5, 4)

In [111]:
x=['a','b','c']
x

['a', 'b', 'c']

In [112]:
x.pop(1)#b뜯어냈다

'b'

In [113]:
x

['a', 'c']

In [114]:
list("ham")

['h', 'a', 'm']

In [115]:
x="ham"
y=list(x)
y #x를 리스트로 만들면 한글자씩 다 떼어내준다.

['h', 'a', 'm']

In [116]:
y.append(x)#'ham'을 y에 붙여주기
y

['h', 'a', 'm', 'ham']

In [117]:
y=[]
y.append('ham')
y

['ham']

In [118]:
"s"
's' in 'something',

(True,)

In [119]:
#List data type
[1,2]+[3,4]

[1, 2, 3, 4]

In [120]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [121]:
grades=['A','B','C','D','F']
grades[0], grades[2:4],len(grades)
#grades의 0번째,2~4번째, 길이

('A', ['C', 'D'], 5)

In [122]:
#set은 위치는 중요하지가 않아, 그냥 주머니안에다가 데이터를 들어부은거다 
#그안에 누가 먼저있고 뒤에있고가 없다.
{2,5,7}=={2,7,5} #True
#리스트는 위치가 중요하다.
#리스트는 각각의 위치가 정해져있는 거다.
[2,5,7]==[2,7,5] #False

myList=[1,"Spam",4,"U"]

In [123]:
#months2.py
#a program to print the month name, given it's number.
def main():
    #months is a list used as a lookup table
    months=['Jan','Feb','Mar','Apr','May','Jun',
            'Jul','Aug','Sep','Oct','Nov','Dec']

    n=eval(input("Enter a month number(1-12): "))

    print("The month abbreviation is", months[n-1]+".")

In [124]:
main()

Enter a month number(1-12): 11
The month abbreviation is Nov.

In [125]:
#리스트는 mutable이다, 바뀔수있는거다
#스트링은 그렇지가 않아 immutable 바꿀수가없어
#바꾸고싶으면 새로운 거를 통째로 집어넣어야해, 부분적으로 접근해서는 못바꾼다.

#Tuple data type
#tuple 데이터는 메모리를 더 적게 잡아먹는다
#리스트보다 메모리 안 잡아먹어, 근데 값은 못바꾼다. immutable
t1=()
t2=(1,) 
#t2 = (1)이라고하면 정수형으로 변환시켜줌,
#t2 = (1,)로 굳이 표현해야 튜플로 반환
t3=(1,2,3)
t4=('a','b',['ab','cd'])
t2

(1,)

In [126]:
t2=[1,]
t2

[1]

In [127]:
x=("ham",4,5)
x

('ham', 4, 5)

In [128]:
x[2]=8 #not allowed 튜플은 변경불가능!

TypeError: 'tuple' object does not support item assignment

In [129]:
#set data type
s1={1,2,3}
s2={"ab","d"}#다른종자가 섞이면안되요 다 같은 종자여야해, 
#대충말하자면 그렇고(정확하지 않음), 자세한건 나중에 배운다.
s1={"kim",1,2} #가능하다 그런데!
#s1={"kim",[2,3]}  #해쉬펑션의 인풋으로만 들어갈수있는것만 집합에 들어갈수있다.

In [130]:
s1=set([1,2,3]) #리스트형을 셋으로 형변환한다
s1

{1, 2, 3}

In [131]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [132]:
l1[0]

1

In [133]:
s2=set("Hello")
s2#중복 제거된다 set자료형은

{'H', 'e', 'l', 'o'}

In [134]:
s1=set([1,2,3])
t1=tuple(s1)
t1

(1, 2, 3)

In [135]:
t1[0]

1

In [136]:
s1=set(list(range(1,7)))
s2=set([4,5,6,7,8,9])

In [137]:
#교집합 연산
s1&s2 #s1.intersection(s2)

{4, 5, 6}

In [138]:
#합집합 연산
s1|s2 #s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [139]:
#차집합 연산
s1-s2 #s1.difference(s2)

{1, 2, 3}

In [140]:
s2-s1 #s2.difference(s1)

{7, 8, 9}

In [141]:
#특정값 추가가능
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [142]:
#특정값 제거가능
s1=set([1,2,3])
s1.remove(2)

In [143]:
#리스트안에서 동일한 값을 찾고 싶을때
#리스트를 셋으로 바꿨다가 리스트로 바꾸면 나온다
#리스트랑 비슷하게 값 추가도 가능하고 뺄수도있는데 함수명이 다르다.
#셋에는 값 여러개추가하는 update함수 있다.
#셋에는 위치가 없기때문에 빼고싶은값 지정해서 삭제하는거다.

#제일많이쓰는 딕셔너리 타입
#key : value식으로 값이 들어갑니다.
#key는 값을 찾는 인덱스 같은 역할을,
#value는 값이지 뭐

In [144]:
#dictionary data type
dic={'name':'pey','phone':'01025568123','birth':'1118'}

In [145]:
dic['name'],dic['phone']

('pey', '01025568123')

In [146]:
a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [147]:
a['name']='pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [148]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [149]:
del a[1] #key 1의 값이었던 a를 삭제하는 것을 볼수있다
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [150]:
{1:'a',1:'b'}# 덮어쓰는거 불가능 중복된 키 불가능
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [151]:
#key값은 immutable value만 허락
#tuple로는 key를 만들수있다, 리스트로는 key를 만들수가 없다
a={[1,2]:'hi'} #오류난다

TypeError: unhashable type: 'list'

In [152]:
#Python Control Structures --조교실습
mail=0
if mail:
    print('mail time')
else:
    print('no mail:(')

no mail:(

In [153]:
if( 7<=6):
    print("whaaaaa")
else:
    print("7 is greater than 6")

7 is greater than 6

In [154]:
if (7) and (6):
    print('yep')

yep

In [155]:
if(0) and (4): #0이 False니까 프린트 실행안되겠지
    print('sahaaa')

In [156]:
if not(0):
    print('yep')

yep

In [157]:
#convert2.py
# a program to convert celsius temps to fahrenheit.
#this version issues heat and cold warnings.
def main():
    celsius = eval(input("what is the Celsius temperature?"))
    fahrenheit = (9/5)* celsius +32
    print("The temperature is",fahrenheit," degrees Fahrenheits. ")

    if fahrenheit >=90:
        print("it's really hot out there, be careful!")

    if fahrenheit <-30:
        print("Brrrrr. Be sure to dress warmly")

In [158]:
main()

what is the Celsius temperature?50
The temperature is 122.0  degrees Fahrenheits.
it's really hot out there, be careful!

In [159]:
#quadratic3.py
# a program that computes the real roots of a quadratic equation.
#illustrates use of a two-way decision

import math
def main():
    print("This program finds the real solutions to a quadratic\n")
    a, b, c= eval(input("Please enter the coefficients (a,b,c): "))

    discrim=b*b-4*a*c
    if discrim <0:
        print("\n The equation has no real roots!")
    else:
        discRoot=math.sqrt(b*b-4*a*c)
        root1=(-b+discRoot)/(2*a)
        root2=(-b-discRoot)/(2*a)
        print("\nThe solutions are:", root1, root2)

In [160]:
main()

This program finds the real solutions top a quadratic

Please enter the coefficients (a,b,c): 1,4,3

The solutions are: -1.0 -3.0

In [161]:
#quadratic4.py
# a program that computes the real roots of a quadratic equation.
#illustrates use of a two-way decision

import math
def main():
    print("This program finds the real solutions top a quadratic\n")
    a, b, c= eval(input("Please enter the coefficients (a,b,c): "))

    discrim=b*b-4*a*c
    if discrim <0:
        print("\n The equation has no real roots!")

    elif discrim==0:
        root=-b/(2*a)
        print("\nThere is a double root at",root)
    
    else:
        discRoot=math.sqrt(b*b-4*a*c)
        root1=(-b+discRoot)/(2*a)
        root2=(-b-discRoot)/(2*a)
        print("\nThe solutions are:", root1, root2)

In [162]:
main()

This program finds the real solutions top a quadratic

Please enter the coefficients (a,b,c): 1,2,1

There is a double root at -1.0

In [163]:
#연결되서 조건이 주어지는 경우
#if, elif, else 사용한다.

In [164]:
#Loop structures
#while문은 특히 무한루프 안돌게 주의해야한다
i=0
while i<=10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [165]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [166]:
x=[1,2,7]
for i in x:
    print(i)

1
2
7

In [167]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [168]:
for i in range(10,30,2): #2칸씩 뛰면서
    print(i)

10
12
14
16
18
20
22
24
26
28

In [169]:
#continue문
for i in range(30):
    if not (i%3):
        continue #continue는 아래코드 무시하고 다시 위로 올라가버려라 하는거다.
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [170]:
#while문은 무한루프조심해야한다.
x,y=0,0
#break : 만나면 빠져나가라 입니다.
while(True):
    x+=1
    y+=2
    if(x+y>10):
        break

x,y

(4, 8)

In [171]:
#indefinite loops : warning 무한루프의 늪..
#i=0
#while i <=10:
#     print(i)

#Basic pseudocode 말로 표현해놓은거 모델링할때 써놓은거
#set moredata to "yes"
#while moredata is "yes"
#    get the next data item
#    process the item
#    ask user if there is moredata

#Avg_computation
def main():
    moredata="yes"
    sum=0.0
    count=0
    while moredata[0] =='y': #언제끝날지 모르는경우에는 for문으로 표현불가능, while로 가능
        x=eval(input("Enter a number: "))
        sum=sum+x
        count =count+1
        moredata=input("More numbers (yes or no)?")
    print("\nThe average of the numbers is",sum/count)

In [172]:
main()

Enter a number: 20
More numbers (yes or no)?yes
Enter a number: 40
More numbers (yes or no)?yes
Enter a number: 50
More numbers (yes or no)?yup
Enter a number: 100
More numbers (yes or no)?no

The average of the numbers is 52.5