# Ch10. Python built-in Function

## built-in Function

In [4]:
#sorted함수는 원래 데이터를 휘집지 않고 걔를 만약에 if sorted라면, 나오는 값들을 반환한다
#sorting하고싶으면 따로 받아야한다.
a=[3,1,2]
b=sorted(a) #a는 바뀌지가 않는다. b로 받아야한다.
print(a,b)8

[3, 1, 2] [1, 2, 3]

In [12]:
#근데 리스트 안에 sort()라는 게 있다
#원래 a를 휘집어 놓는다.
a=[3,1,2]
a.sort()
print(a)

[1, 2, 3]

In [13]:
a={4,2,3} #set함수인데 적용이 된다 sorted, 만약 정렬이 된다면 어떻게될까를 보여준다.
sorted(a)#list 반환

#Dictionary는 키만 가지고 논다. Value는 건들지 않아!
a={5:'D',6:'A',7:'C',8:'E'}
print(sorted(a))

[5, 6, 7, 8]

In [14]:
#sorted에는 어떤 데이터가 들어갈까?
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [17]:
ListB= [24,13,-15,-36,8,22,48,25,46,-9]
print(sorted(ListB, key=int, reverse=True))#reverse=True이면 Descending order가 됩니다.
print(ListB)#그대로임

[48, 46, 25, 24, 22, 13, 8, -9, -15, -36]
[24, 13, -15, -36, 8, 22, 48, 25, 46, -9]

In [30]:
#reversed
#for string
seqString = 'Python'
print("reversed for string : ",list(reversed(seqString)))
#for tuple
seqTuple=('P','y','t','h','o','n')
print("reversed for tuple : ",list(reversed(seqTuple)))
#for range
seqRange=range(5,9)
print("reversed for range : ",list(reversed(seqRange)))
#for list
seqList=[1,2,4,3,5]
print("reversed for list : ",list(reversed(seqList)))
aList=[123,'xyz','zara','abc','xyz'];
aList.reverse()
print("List : ", aList)

reversed for string :  ['n', 'o', 'h', 't', 'y', 'P']
reversed for tuple :  ['n', 'o', 'h', 't', 'y', 'P']
reversed for range :  [8, 7, 6, 5]
reversed for list :  [5, 3, 4, 2, 1]
List :  ['xyz', 'abc', 'zara', 'xyz', 123]

In [34]:
FramedList={"Bill":['Jan','Sky'],
            "Amos":['Bill','Cosby','Hector','Korth'],
            "John":['Amos','John','Trump'] }

In [38]:
#Amos 친구를?
FramedList['Amos']

['Bill', 'Cosby', 'Hector', 'Korth']

In [39]:
#Tuple
tuple("abc")

('a', 'b', 'c')

In [40]:
tuple([1,2,3])

(1, 2, 3)

In [41]:
tuple((1,2,3))

(1, 2, 3)

In [42]:
#Type Function
print(type("abc"))

str

In [47]:
print(type([]))

<class 'list'>

In [59]:
class Person: pass
a=Person()
b=3
isinstance(a,Person),isinstance(b,Person),isinstance(6,int),isinstance(3.5,float)

(True, False, True, True)

In [63]:
#round
print(round(80.23456,2))#소수점 셋재짜리에서 반올림해서 둘째자리까지
print(round(100.000056,3),round(-100.000056,3))#소수점 네번째자리에서 반올림해서 3째자리까지

80.23
100.0 -100.0

In [70]:
#slice
pyString='Python'
#contains indices(0,1,2)
#i.e P,y and t

sObject=slice(3)
print(pyString[sObject])

#contains indices(1,3)
#i.e. y and h
sObject = slice(1,5,2)
print(pyString[sObject])

Pyt
yh

In [74]:
#iter function 와 next function
my_list=[4,7,0,3]
#get an iterator using iter()
my_iter=iter(my_list)

#iter() : iterable object를 iterator object로 만들어주는 function

#iterator iterable object에는 next()를 쓸수가 있다!
print((next(my_iter)))
print((next(my_iter)))
print((next(my_iter)))

4
7
0

## Towards Sophisticated Coding

In [78]:
#코드를 줄이는 이유는 코드를 이해하는데 도움이 되겠다 라는 거지! 이해가 쉽게!
#lambda 함수, 람다함수
"""
익명ㄹ함수
람다 단어
"""
a=lambda x,y:x*y
print(a(3,4))

#같은 표현
def sum(a,b):
    return a*b
print(sum(3,4))

#reduce 함수

12
12

In [87]:
myList=[lambda a,b:a+b, lambda a,b:a*b]
myList

In [88]:
myList[0]

In [89]:
myList[0](3,4)

7

In [97]:
#map()
items=[1,2,3,4,5]
squared=[]
for i in items:
    squared.append(i**2) #append를 반복해서 사용합니다. 코드 네줄이죠
squared

[1, 4, 9, 16, 25]

In [98]:
squared = list(map(lambda x: x**2,items)) #함수
print(squared)

[1, 4, 9, 16, 25]

In [102]:
a=list(map(lambda y: print(y**2), items))

1
4
9
16
25

In [124]:
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)


funcs=[multiply,add]

for i in range(0,5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

In [119]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result


result=two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [121]:
def two_times(x): return x*2

list(map(two_times,[1,2,3,4]))

[2, 4, 6, 8]

In [122]:
list(map(lambda a: a*2, [1,2,3,4]))

[2, 4, 6, 8]

In [143]:
a=[1,2,3,4]
b=[17,12,11,10]
c=[-1,-4,5,9]

In [146]:
list(map(lambda x,y:x+y, a,b))
list(map(lambda x,y,z:x+y+z, a,b,c))
list(map(lambda x,y,z:x+y-z, a,b,c))

[19, 18, 9, 5]

In [141]:
number_list= range(-5,5)
less_than_zero= list(filter(lambda x: x<0,number_list)) #True가 되는 element만 filtering합니다
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [147]:


fib=[0,1,1,2,3,5,8,13,21,34,55]
result=filter(lambda x: x%2,fib)
print(list(result))

[1, 1, 3, 5, 13, 21, 55]

In [148]:
result=filter(lambda x: x%2 ==0, fib)
print(list(result))

[0, 2, 8, 34]

In [149]:
#positive.py
def positive(l):
    result=[]
    for i in l:
        if i>0:
            result.append(i)
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [156]:
def positive(x):
    return x>0
print(list(filter(positive, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [157]:
list(filter(lambda x: x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

## Python Reduce Function From Functools module

In [160]:

from functools import reduce
print(reduce(lambda x,y: x+y, [47,11,42,13]))
#47+11 수행
#(47+11)+42 수행
#((47+11)+42) +13 수행

product =reduce((lambda x,y:x*y),[1,2,3,4])
print(product)

113
24

In [162]:
f=lambda a,b: a if (a>b) else b

reduce(f,[47,11,42,102,13])

102

In [163]:
reduce(lambda x,y:x+y, range(1,101))

5050

In [165]:
#zip()
"""
zip함수는 보통 List 여러개를 slice할때 사용
여러가지 list를 김밥 말듯이 말아서
그리고 iterator 등의 함수로 slice 하는거
Zip 의 parameter 들에 들어있는 data의 숫자는 반드시 같아야한다
김밥 써는 장인들이 바쁠때, 김밥 여러줄 한꺼번에 썰어버리는 것처럼 ㅋㅋ
"""
a=[1,2,3,4,5]
b=['a','b','c','d','e']
for x,y in zip(a,b):
    print(x,y)

1 a
2 b
3 c
4 d
5 e

In [166]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [167]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [168]:
list(zip("abc","def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [173]:
list(zip({1,2,3},{1,2,3}))

[(1, 1), (2, 2), (3, 3)]

In [177]:
list(filter(lambda x:x%2==1,[1,2,3,4,5]))

[1, 3, 5]

In [179]:
n=3
for i in range(1,n+1):
    print(*list(range(1,i+1)))

1
1 2
1 2 3

# (Ch10-A) Python Function Practice with Sophistication

## 1번 문제
Write a function f1(list) that will return the number of odd elements in a given list.

In [15]:
def f1(lst):
    return len(list(filter(lambda x: x%2==1, lst)))

In [16]:
f1([1,2,3,4,5])

3

## 2번 문제
Write a function f2(list) that will print each odd element in a given list.

In [13]:
def f2(lst):
    return list(filter(lambda x:x%2==1, lst))

In [14]:
f2([1,2,3,4])

[1, 3]

## 3번문제
Write a function f3(list) that will return the sum of all odd elements in a given list.

In [11]:
def f3(lst):
    return sum(list(filter(lambda x:x%2==1, lst)))

In [12]:
f3([1,2,3,4])

4

## 4번문제
Write a function f4(list) that will return the sum of all the index positions whose corresponding element is odd in a given list.

In [8]:
def f4(lst):
    sumOfldx=0
    for idx,val in enumerate(lst):
        if val %2==1:
            sumOfldx+=idx
    return sumOfldx

In [9]:
f4([4,5,6])

1

## 5번문제
Write a function f5(list) that will return the same list where each element has been squared

In [213]:
list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [10]:
def f5(lst):
    return list(map(lambda x: x**2, lst))
f5([1,2,3,4,5])

[1, 4, 9, 16, 25]

# (Ch 10-B) Python Looping and Matrix Practice with Sophistication

## 1번 문제.
Write a function f1(n) that prints the following triangle.  
>*f1(5)*  
>1  
>1 2  
>1 2 3

In [21]:
def f1(n):
    for i in range(1,n+1):
        print(*list(range(1,i+1)))

In [22]:
f1(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 2번문제
Write a function f2(n) that prints the following triangle.
>*f2(3)*  
>1  
>2 3  
>4 5 6

In [23]:
def f2(n):
    for i in range(1,n+1):
        print(*list(range(int((i-1)*i/2+1), int(i*(i+1)/2+1))))

In [24]:
f2(3)

1
2 3
4 5 6

## 3번문제
Write a function f3(n) that prints the following triangle.
>*f3(3)*  
>1  
>2 3  
>4 5 6  
>2 3  
>1

In [25]:
def f3(n):
    for i in range(1,n+1):
        print(*list(range(int((i-1)*i/2+1), int(i*(i+1)/2+1))))
    for i in range(n-1,0,-1):
        print(*list(range(int((i-1)*i/2+1), int(i*(i+1)/2+1))))

In [26]:
f3(3)

1
2 3
4 5 6
2 3
1

## 4번 문제
Write a function f4(n) that prints the followiing triangle.

In [85]:
def f4(n):
    count=1
    for i in range(1,n+1):
        count=i
        print(*list(range(int((count-1)*count/2+1), int(count*(count+1)/2+1))))
    count=int(i*(i+1)/2)
    for i in range(n-1,0,-1):
        print(*list( range(count,count+i)))
        count=count+i

In [88]:
f4(6)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
21 22 23 24 25
26 27 28 29
30 31 32
33 34
35

## 5번문제
Write a function f5(matrix) that prints the sum of every row in the matrix.

In [27]:
def f5(matrix):
    for i in range(0,len(matrix)) :
        print(sum(matrix[i]))

In [29]:
f5([[1,2,3],[4,5,6]])

6
15

## 6번 문제
Write a function f6(matrix) that returns the sum of all the elements in the matrix.

In [95]:
def f6(matrix):
    return sum(map(sum,matrix))

In [94]:
f6([[1,0],[0,1]])

2